@import "pretendard/dist/web/static/pretendard.css";
@import "tailwindcss";

body {
  background-color: #FFFBFB;
}

@theme {
  --color-primary: #F05F6E;
  --color-primary-bg: #FFFBFB;

  --color-secondary: #525252;
  --color-secondary-bg: #F5F5F5;

  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
}